*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/*login styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}

/* body {
    background: #ecf0f3
} */

.wrapper {
    width: 350px;
    height: 400px;
    margin: 50px auto;
    padding: 40px 30px 30px 30px;
    /* border-top: 3px solid black;
    border-bottom: 3px solid black; */
    /* background-color: #ecf0f3; */
    border-radius: 10px;
    /* box-shadow: 20px 25px 20px #cbced1, -10px -10px 15px #fff; */
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.wrapper .name {
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 1.3px;
    padding-left: 10px;
    color: #555
}

.wrapper .form-field input {
    width: 100%;
    display: block;
    border: none;
    outline: none;
    background: none;
    font-size: 1.2rem;
    color: #666;
    padding: 10px 15px 10px 10px
}
.wrapper .form-field {
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid black;
    
    /*box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff*/
}

.wrapper .form-field .fas {
    color: rgb(33, 26, 26)
}

.wrapper .btn {
    box-shadow: none;
    width: 100%;
    height: 40px;
    background-color: black;
    color: #fff;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #b1b1b1, -3px -3px 3px #fff;
    letter-spacing: 1.3px;
}
.wrapper .btn:hover {
    background-color: #009688
}

.wrapper a {
    text-decoration: none;
    font-size: 0.8rem;
    color: #03A9F4
}

.wrapper a:hover {
    color: #039BE5
}

@media(max-width: 380px) {
    .wrapper {
        margin: 30px 20px;
        padding: 40px 15px 15px 15px;
    }
}

