<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
 
}
</style>
</head>
<body>

{% block title %}{{ section.title }}{% endblock %}

{% block content %}





    <h1>{{ section.title }}</h1>

{% if flag %}
                        <h2>showing {{ url }}</h2>  

            <br>
                    <h1> {{ record.S_Name }} Data</h1>
            <br>
            {% autoescape off %}
            {{ uh }}
            {% endautoescape %}

{% endif%}
                

        <br>

        <h1> All Students Data</h1>
        {% autoescape off %}
        {{ uall }}
        {% endautoescape %}
             
{% endblock %}

</body>  
</html> 