 

<!DOCTYPE html>

<html>
<head> 
    <link rel="icon" type="image/png" href="http://www.jeduka.com/storage/school_image/2/mvgr-college-of-engineering.png" id="favicon-svg">
    
    
    <!-- <link id="ui-theme" rel="stylesheet" href="https://static-exp1.licdn.com/sc/h/cw1skx6zyv8p5jxqy4n7ctu46"> -->
    <link id="ui-theme-dark" rel="stylesheet" href="https://static-exp1.licdn.com/sc/h/7tv17oa0lsym0ovcxwapq787o" >
  
<link rel="stylesheet" href="https://static-exp1.licdn.com/sc/h/akgldf9nz8xpgz93xwt4szg8">


<link rel="stylesheet" href="https://static-exp1.licdn.com/sc/h/4lpi2yn5i3w5wy3u3nutaxja6">
<link rel="stylesheet" href="https://static-exp1.licdn.com/sc/h/95838ilnit5o19bmxpz7b6uik">
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th ,td {
  white-space: nowrap;
  border: 1px solid #ddd;
  padding: 20px;
}

th{
  background-color: #fdf3f5;
}

tr:nth-child(even) {
  background-color: #efefef;
 
}
</style>
</head>
<body style="background-color: white;">

  <div   style="padding  : 20px;">
  
{% block title %}{{ section.title }}{% endblock %}

{% block content %}





    <h1>{{ section.title }}</h1>

{% if flag %}
                        <h2>showing {{ url }}</h2>  

            <br>
                    <h1> {{ record.S_Name }} Data</h1>
            <br>
            {% autoescape off %}
            {{ uh }}
            {% endautoescape %}

{% endif%}
                

        <br>

        <h1> All Students Data</h1>
        {% autoescape off %}
        {{ uall }}
        {% endautoescape %}
             
{% endblock %}
</div>
</body>  
</html> 